spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sales_orders
    username: asad
    password: incorrect
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: update
  application:
    name: sales-order







